@font-face {
  font-family: "Barter";
  src: url('./assets/fonts/Barter.ttf') format('truetype');
}

@font-face {
  font-family: "Barter";
  src: url('./assets/fonts/BarterThin.otf') format('opentype');
}

@font-face {
  font-family: "Barter";
  src: url('./assets/fonts/Barter.ttf') format('truetype');
}

  #welcomeBanner {
    margin-top:200px;
  }


.containerSlider{
  background: #000;
  display: flex;
  height: 523px;
  overflow-x:scroll;
  overflow-y:hidden;
  width:100%;
  padding-left:20px;
  padding-top:0px;
  padding-bottom:0px;
  padding-right:0px;
}

.containerSlider:hover {
  cursor: url('./assets/images/drag.png'), auto;
}
.item{
  width: 300px;
  height: 450px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right:20px;
}

.imgSliderTest {
  width:300px;
  height:450px;
  margin-right:0px;

}

body {
  background: black !important;
  color: white !important;
}



.containerSlider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.containerSlider {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.toggleColumn {
  flex-direction: column;
}

  .bigPadding {
    padding-left: 28px;
    padding-right:28px ;
  }

.flexToggle {
  flex-direction: column;
}

.deliveryButton {
  background-color: #da291c !important;
  color:white !important;
}

.deliveryButton:hover {
  cursor:pointer;
}

.takeoutButton {
  background-color: #00A8FF !important;
  color:white !important;
}

.takeoutButton:hover {
  cursor:pointer;

}

.delivery-item:hover {
  text-decoration: underline;
  color: white !important;
}

.deliver-item a:hover {
  color:white !important;
}

.menuImg {
  width:100%;
  height:auto;
}

.menuImg-container {

  padding-top:0px;
  margin-top:40px;
}

.dashedLine {
  width:100%;
}



.deliveryMenuSlider {
  height:100vh;
  width:100vw;
  position:fixed;
  top:0px;
  right:0px;
  background-color:#8e44ad;
  color:white;
  z-index:9999;
  box-sizing: border-box;
  float:right;
}

.logoWhite {
  padding:40px;

}

.delivery-title {
  font-family: "Barter";
  font-size:40px;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
}

.delivery-item {
  font-family: "Barter";
  font-size:32px;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  border:2px solid white;
  margin-bottom:20px;
  text-align: center;

}

.delivery-item a {
  text-decoration: none;
  color:white;
}
/*.displayNone {
  display:1;
  width:0px
}*/

.toggle2{
  width:30px;
  height:30px;
}

.toggle2:hover {
  cursor:pointer;
}



  .button {
    width:100%;
    height:40px;
    border:2px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    font-family:"Barter";
    margin-left:10px;
    margin-right:10px;
    color:white; text-decoration:none
  }

  .button:hover {
  text-shadow: 2px 2px 2px  #da291c, -2px -2px 2px  #da291c, 2px -2px 2px  #da291c, -2px 2px 2px  #da291c;
  }

  .orderTakeoutContainer {
    position: fixed;
    top:100px;
    width:100%;
    background-color:black;
    padding-bottom:20px;
    padding-top:20px;
    z-index:9996;
  }

    .orderTakeoutContainer2 {
    width:100%;
    background-color:black;
    z-index:9996;
    padding:20px 0px;

  }

.logoDesktopFlex {
  display: none;
}

.navbarMobileFullHeight {
  height: 100vh;
    display: flex;
    flex-direction: column;
}

.hoverAnimation {
  height:200px;
  width:auto;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.smoke {
  position: absolute;
  top:0px;
  left:300px;
  z-index:9996;
}

/* COLORS */

.blue {
  color:#00A8FF !important;
}

.red {
  color: #da291c;
}

.redTitle {
  text-shadow: 2px 2px 2px  #da291c, -2px -2px 2px  #da291c, 2px -2px 2px  #da291c, -2px 2px 2px  #da291c;
}

.blueTitle {
  text-shadow: 2px 2px 2px  #00A8FF, -2px -2px 2px  #00A8FF, 2px -2px 2px  #00A8FF, -2px 2px 2px  #00A8FF;
}

.greenTitle {
  text-shadow: 2px 2px 2px  #47E82C, -2px -2px 2px  #47E82C, 2px -2px 2px  #47E82C, -2px 2px 2px  #47E82C;
}

.goldTitle {
    text-shadow: 2px 2px 2px  #DF9D00, -2px -2px 2px  #DF9D00, 2px -2px 2px  #DF9D00, -2px 2px 2px  #DF9D00;

}

.pinkTitle {
    text-shadow: 2px 2px 2px  #F78FB3, -2px -2px 2px  #F78FB3, 2px -2px 2px  #F78FB3, -2px 2px 2px  #F78FB3;

}

#chickenTitle {
  text-shadow: 3px 3px 3px  #da291c, -3px -3px 3px  #da291c, 3px -3px 3px  #da291c, -3px 3px 3px  #da291c;
  width: 100%;
}

#smashburgerTitle {
  text-shadow: 3px 3px 3px  #00A8FF, -3px -3px 3px  #00A8FF, 3px -3px 3px  #00A8FF, -3px 3px 3px  #00A8FF;
  width: 100%;
}



.slide-up
{
    bottom: 20px !important;
    transition: 0.3s;
}

.slide-down
{
    bottom: -370.5px !important;
    transition: 0.3s;

}

.noscroll {
  overflow-y:hidden !important;
}

.backgroundBlur {
  width:100vw;
  height:100vh;
  background-color: black;
  opacity:0.6;
  position:fixed;
  top:0px;
  left:0px;
  z-index:9998;
}

.hide {
  visibility: hidden;
  transition: 0.3s;

}
/*  */
/* .mapSlideUpContainer {
  position:absolute;
  top:0px;
  overflow-y:hidden;
  width:100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.mapSlideUpContainer {
  width: 95%;
  border-radius: 8px;
  position: fixed;
  bottom: 80px;
  left: 2.5%;
  z-index: 9999;
}

.topSlide {
  background: white;
  background: white;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  font-size:24px;
}

.titleMapSlide {
  font-size: 16px;
  color: #8f8f8f;
  padding: 16px 0px;
}

.itemSlider {
  border-top:1px solid #EEEFEB;
  padding:16px 0px;
  color: #007AFE;
  text-decoration: none;
}

.cancelButton {
  margin-top: 16px;
  background: white;
  box-sizing: border-box;
  text-align: center;
  padding: 16px 0px;
  border-radius: 20px;
  color: #007AFE;
  font-size:24px;
  font-weight: bold;
}

.cancelButton:hover {
  color: #004998;
  cursor: pointer;
}

/* GENERAL */

#fixedOrderNowButton {
  width:100%;
  max-width:100%;
  margin:0px;
  height:60px;
  box-sizing: border-box;
  background: #da291c;
  color:white;
  font-family: "Barter";
  font-size: 36px;
  text-align: center;
  line-height: 60px;
  position:fixed;
  bottom:0px;
  left:0px;
  text-decoration: none;
  border: 2px solid #da291c;
  z-index: 9997;
}

#fixedOrderNowButton:hover {
  color: #da291c;
  transition: 0.2s;
  background-color: white;
  border:2px solid #da291c;
}


#fixedAnnouncementBanner {
  width:100%;
  max-width:100%;
  margin:0px;
  height:60px;
  box-sizing: border-box;
  background: #f39c12; 
  background-color: #f39c12;
  color:white;
  font-family: "Barter";
  font-size: 20px;
  text-align: center;
  position:fixed;
  top:75.76px;
  left:0px;
  text-decoration: none;
  border: 2px solid #f39c12;
  z-index: 9996;
  display: flex;
  justify-content: center;
  align-items: center;

}

#fixedAnnouncementBanner img {
  height:30px;
  width:auto;
  margin-right:8px;
}


.title {
  font-family: "Barter";
  font-size: 36px;
  letter-spacing: 4px;
}

.menuTxt {
  font-size: 24px;
  font-family: "Barter";
}
/* LOGO + NAVBAR */
.navbar {
  position: fixed !important;
  background: black !important;
  width:100% !important;
  z-index:9997;
}

.navbar-collapse {
  padding-bottom:24px;
  height: 100vh;
  transition: 0.2s;
}

#logo {
  display: none;
}

#logo-container {
  position: fixed;
  background-color: black;
  top:0px;
  z-index:9997;
}

#logo-mobile {
  width:128px;
}

.nav-item {
  margin:0px;
}

.nav-link {
  color: white !important;
  font-family: "Barter";
  font-size: 32px !important;
  text-transform: capitalize !important;
}

.nav-link:hover {
  transition: 0.2s;
  text-shadow: 2px 2px 0px  #da291c, -2px -2px 0px  #da291c, 2px -2px 0px  #da291c, -2px 2px 0px  #da291c;
}

#orderOnlineButton {
  border: 2px solid white;
  padding: 0px 16px;
  text-shadow: 2px 2px 0px  #da291c, -2px -2px 0px  #da291c, 2px -2px 0px  #da291c, -2px 2px 0px  #da291c;
  border-color:#da291c;
  background: #da291c;
  text-align: center;
  color:white !important;
  text-decoration: none;
}

#grubHubButton {
  border: 2px solid white;
  padding: 0px 16px;
  border-color:white;
  background: white;
  text-align: center;
  color:#da291C !important;
  margin-top:20px !important;
}

.navbar-toggler-icon {
  background-image: url("./assets/images/bars-white.png") !important;
}

.activeImg {
  background-image: url("./assets/images/close.png") !important;
  transition:0.2s;
}

.nav-social {
  width:48px;
  height:auto;
  max-height:auto;
}

/* BANNER */

#banner {
  display: none;
}

#mobileBanner {
  width:85%;
  height:auto;
  padding-top:160px;
  margin-bottom:40px !important;
}

/* MOBILE OVERRIDES */

#welcomeToSmashville {
  width:80%;
}

#welcomeTxt {
  font-family: "Barter";
  font-size: 28px;
}

#menuNeon {
  width:100%;
  max-width: 400px;
  height:auto;
}

#heatIndex {
  font-family: "Barter";
  font-size: 36px;
  letter-spacing: 4px;
}

#heatIndexImg {
  display: none;
}
#heatIndexImgMobile {
  display: block;
  max-width:100%;
}


.line {
  max-width:100%;
}


/* MENU ITEMS */

.item-title {
  font-size:28px;
  letter-spacing: 4px;
  font-family: "Barter";
}

.price {
  text-shadow: none;
  font-family: "Barter";
  font-size: 28px;
  letter-spacing: 4px;
  color:white;
}

.item-description {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Barter";
  color:white;
  line-height: 24px;

}

.food-item-container {
  width:100%;
}

#locationContainer {
  position: relative;
}

#pin {
  height:24px;
  width:auto;
  margin-right:8px;
}

#clipboardContainer {
  padding: 24px 48px !important;

}

#locationAddress {
  border: 1px solid #222;
  border-radius:8px;
  background-color: #222;
  box-sizing: border-box;
  font-family: "Barter";
  color:white;
  font-size:24px;
  padding:24px 26px;
  text-align: center;
}

#tapMap {
  text-align: center;
  font-size:24px;
  font-family: "Barter";
  padding:16px;
  background-color: #00A8FF;
  border-radius: 0 0 8px 8px
}

#tapMap:hover {
  background-color: #004998;
  cursor: pointer;
  transition: 0.2s;
}

#hoursTxt {
  font-family: "Barter";
  font-size: 24px;
  padding:0px;
}

/* FAQ */

.faqItem {
  border-bottom:1px solid white;
}
.question {
  font-size: 22px;
  font-family: "Barter";
  display: flex;
  margin-bottom:10px;
}

.question:hover {
  cursor: pointer;
}

.answer {
  font-size: 18px;
  font-family: "Barter";
  padding-left:40px;
  padding-bottom:8px;
}

.togglePlus {
  width: 24px;
  height:24px;
  margin-right:16px;
}

.faqRow {
  width:100%;
}

.socialsContainer {
  margin-top:16px !important;
  margin-bottom:100px;
}


.socials {
  max-height: 48px !important;
  width: auto !important;
  margin: 10px;
}


/* SWIPER */
.swiper-pagination {
  display: none;
}
.swiper {
  width: 95%;
  min-height: 375px;
}

.sliderImage {
  width:60%;
  height:auto;
}

.swiper-slide {
  text-align: center;
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-button-next, .swiper-button-prev {
  color:white !important;
}

#menuAnchor {
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

@media (min-width: 992px) {

    .bigPadding {
    padding-left:180px !important;
    padding-right:180px !important;
  }

  .deliveryMenuSlider {
    width:35vw;
  }

  #navbarDesktopSpacing {
    justify-content: space-between;
    width:100%;
  }

  .nav-item {
    margin:0px !important;
  }

  .orderTakeoutContainer {
    top:120px !important
  }

  #nav-itemFixButton {
    margin:0px !important;
  }


.logoDesktopFlex {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#logo-mobile {
  display:none !important;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {




  .item{
  width: 350px;
  height: 523px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right:40px;
}

.imgSliderTest {
  width:350px;
  height:523px;
  margin-right:40px;

}

  .containerSlider{
    background: #000;
    display: flex;
    padding:0px 180px;
    height: 550px;
    min-height:550px;
    overflow-x:scroll;
    overflow-y:hidden;
    width:100%;
  }

  .toggleColumn {
    flex-direction: row;
  }

  .deliveryButton, .takeoutButton {
    width:200px !important;
    height:56px !important;
    font-size:32px !important;
  }

  .bigPadding {
    padding-left:80px !important;
    padding-right:80px !important;
  }

  #smashburgerTitle {
  text-shadow: 3px 3px 3px  #00A8FF, -3px -3px 3px  #00A8FF, 3px -3px 3px  #00A8FF, -3px 3px 3px  #00A8FF;
  width: 75%;
}

  #chickenTitle {
    width: 75%;
  }

  .flexToggle {
    flex-direction: row;
  }

  .menuImg-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menuImg {
  width:400px;
  height:auto;
  }


  .nav-item {
  margin-left:18px;
  margin-right:18px;
}
  .navbar-collapse {
    height:auto;
  }
  .orderTakeoutContainer {
    position: fixed;
    top:100px;
    width:100%;
    background-color:black;
    padding-bottom:20px;
    z-index:9996;
    padding-top:20px;
  }

    .orderTakeoutContainer2 {
    display: none;
  }

  .button {
    width:120px;
    height:40px;
    border:2px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    font-family:"Barter";
  }
  #logo {
    display: none;
/*    width:200px;*/
  }
#logoDesktop {
  width:160px;
  height:auto;
}

.logoDesktopFlex {
  display: none;
}

  .navbar {
    position: fixed !important;
    background: black !important;
    width:100% !important;
    top:0px;
    z-index:9997;
    height:auto;
  }


/* Large devices (desktops, 992px and up) */
  .navbar-expand-lg .navbar-collapse {
      justify-content: center;
  }
  .navbar-collapse {
    border-bottom:0px;
    padding-bottom:0px;
  }

  body {
    padding-top:120px;
  }

  #banner {
    display: block;
    width:100%;
  }

  #mobileBanner {
    display: none;
  }

  #fixedOrderNowButton {
    display:none;
  }

  #orderOnlineButton {
    border: 2px solid #da291c;
    padding: 0px 16px;
    text-shadow: none;
    border-color:none;
    background: #da291c;
    color:white;
  }

  #orderOnlineButton:hover {
    transition: 0.2s;
    border-color:#8f1b12;
    background: #8f1b12;
  }

  #grubHubButton {
    border: 2px solid white;
    padding: 0px 16px;
    text-shadow: none;
    border-color:1px solid #da291c;
    background: white;
    color:#da291c !important;
    margin-top:0px !important;
  }

  #grubHubButton:hover {
    transition: 0.2s;
    text-shadow: 2px 2px 0px  #da291c, -2px -2px 0px  #da291c, 2px -2px 0px  #da291c, -2px 2px 0px  #da291c;
    background: #da291c;
    color:white !important;
  }

  #welcomeBanner {
    min-height:500px;
    background-image: url("./assets/images/welcomeBackgroundGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top:0px;
  }

  #menuNeon {
    width:100%;
    max-width: 700px;
    height:auto;
  }

  #welcomeTxt {
    font-family: "Barter";
    font-size: 40px;
    letter-spacing: 10%;
  }
  #welcomeToSmashville {
    width:auto;
  }

  #menuBanner {
    height:100%;
    background-image: url("./assets/images/menuBackgroundGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #hoursBanner {
    height:100%;
    background-image: url("./assets/images/hoursGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #locationBanner {
    height:100%;
    background-image: url("./assets/images/locationGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #faqBanner {
    height:100%;
    background-image: url("./assets/images/faqGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #faqItemBanner {
    height:100%;
    background-image: url("./assets/images/faqItemsBackground.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #heatIndex {
    font-family: "Barter";
    font-size: 72px;
    letter-spacing: 8px;
  }

  .menuTxt {
    font-family: "Barter";
    font-size:32px;
    letter-spacing: 10%;
  }
  .title {
    font-family: "Barter";
    font-size: 48px;
    letter-spacing: 8px;
  }

  #heatIndexImg {
    width:70%;
    height:auto;
    display: block;
  }

  #heatIndexImgMobile {
    display: none;
  }
  .item-title {
    font-size:36px;
    letter-spacing: 8px;
    font-family: "Barter";
  }

  .price {
    text-shadow: 2px 2px 0px  white, -2px -2px 0px  white, 2px -2px 0px  white, -2px 2px 0px  white;
    font-family: "Barter";
    font-size: 36px;
    letter-spacing: 8px;
    color:black;
  }

  .item-description {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Barter";
    color:white;
    line-height: 32px;

  }

  .line {
    width:75%;
  }

  .food-item-container {
    width:100%;
  }

  #itemsBackgroundGraffiti {
    background-image: url("./assets/images/itemsBackgroundGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
  }

  .swiper {
    width: 45%;
    min-height: 600px;
    background-image: url("./assets/images/swiperBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
  }

  .sliderImage {
    width:auto;
    height:500px;
  }

  #hoursTxt {
    font-family: "Barter";
    font-size: 48px;
    letter-spacing: 4px;
    line-height:52px;
  }


  #clipboardContainer {
    font-family: "Barter";
    color:white;
    font-size:48px;
  }

  .question {
    font-size: 36px;
    font-family: "Barter";
  }

  .answer {
    font-size: 24px;
  }


  .togglePlus {
    width: 40px;
    height:40px;
  }

  .faqRow {
    width:75%;
  }

  .socials {
    width:80px !important;
    height:auto;
    min-height:80px;
    margin:20px;
    box-sizing: border-box;
  }

  .socials:hover {
    cursor: pointer;
    border-bottom:4px solid #da291c;
    box-sizing: border-box;
  }

  .socialsContainer {
    margin-top:24px !important;
    margin-bottom: 100px;
  }

  #pin {
    height: 48px;
    width: auto;
    margin-right:16px;
  }

  .mobileSocials {
    display:none;
  }

  .mapSlideUpContainer  {
    width: 35%;
    left: 32.5%;
  }

  #fixedAnnouncementBanner {
    width:100%;
    max-width:100%;
    margin:0px;
    height:60px;
    box-sizing: border-box;
    background: #00A8FF;
    color:white;
    font-family: "Barter";
    font-size: 32px;
    text-align: center;
    position:fixed;
    top:242px;
    left:0px;
    text-decoration: none;
    border: 2px solid #00A8FF;
    z-index: 9996;
    display: flex;
    justify-content: center;
    align-items: center;

  }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }
