@font-face {
  font-family: "SummerDays";
  src: url('./assets/fonts/SummerDays.ttf') format('truetype');
}

@font-face {
  font-family: "Barter";
  src: url('./assets/fonts/BarterThin.otf') format('opentype');
}

@font-face {
  font-family: "Barter";
  src: url('./assets/fonts/Barter.ttf') format('truetype');
}

body {
  background: black !important;
  color: white !important;
}

/* COLORS */

.blue {
  color:#00A8FF !important;
}

.red {
  color: #da291c;
}

.redTitle {
  text-shadow: 2px 2px 0px  #da291c, -2px -2px 0px  #da291c, 2px -2px 0px  #da291c, -2px 2px 0px  #da291c;
}

.blueTitle {
  text-shadow: 2px 2px 0px  #00A8FF, -2px -2px 0px  #00A8FF, 2px -2px 0px  #00A8FF, -2px 2px 0px  #00A8FF;
}

.greenTitle {
  text-shadow: 2px 2px 0px  #47E82C, -2px -2px 0px  #47E82C, 2px -2px 0px  #47E82C, -2px 2px 0px  #47E82C;
}

#chickenTitle {
  text-shadow: 3px 3px 0px  #da291c, -3px -3px 0px  #da291c, 3px -3px 0px  #da291c, -3px 3px 0px  #da291c;
}

#smashburgerTitle {
  text-shadow: 3px 3px 0px  #00A8FF, -3px -3px 0px  #00A8FF, 3px -3px 0px  #00A8FF, -3px 3px 0px  #00A8FF;
}

.slide-up
{
    bottom: 20px !important;
    transition: 0.3s;
}

.slide-down
{
    bottom: -370.5px !important;
    transition: 0.3s;

}

.noscroll {
  overflow-y:hidden !important;
}

.backgroundBlur {
  width:100vw;
  height:100vh;
  background-color: black;
  opacity:0.6;
  position:fixed;
  top:0px;
  left:0px;
  z-index:9998;
}

.hide {
  visibility: hidden;
  transition: 0.3s;

}
/*  */
/* .mapSlideUpContainer {
  position:absolute;
  top:0px;
  overflow-y:hidden;
  width:100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.mapSlideUpContainer {
  width: 95%;
  border-radius: 8px;
  position: fixed;
  bottom: 80px;
  left: 2.5%;
  z-index: 9999;
}

.topSlide {
  background: white;
  background: white;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  font-size:24px;
}

.titleMapSlide {
  font-size: 16px;
  color: #8f8f8f;
  padding: 16px 0px;
}

.itemSlider {
  border-top:1px solid #EEEFEB;
  padding:16px 0px;
  color: #007AFE;
  text-decoration: none;
}

.cancelButton {
  margin-top: 16px;
  background: white;
  box-sizing: border-box;
  text-align: center;
  padding: 16px 0px;
  border-radius: 20px;
  color: #007AFE;
  font-size:24px;
  font-weight: bold;
}

.cancelButton:hover {
  color: #004998;
  cursor: pointer;
}

/* GENERAL */

#fixedOrderNowButton {
  width:100%;
  max-width:100%;
  margin:0px;
  height:60px;
  box-sizing: border-box;
  background: #da291c;
  color:white;
  font-family: "Barter";
  font-size: 36px;
  text-align: center;
  line-height: 60px;
  position:fixed;
  bottom:0px;
  left:0px;
  text-decoration: none;
  border: 2px solid #da291c;
  z-index: 9997;
}

#fixedOrderNowButton:hover {
  color: #da291c;
  transition: 0.2s;
  background-color: white;
  border:2px solid #da291c;
}

.title {
  font-family: "SummerDays";
  font-size: 36px;
  letter-spacing: 4px;
}

.menuTxt {
  font-size: 24px;
  font-family: "SummerDays";
  text-align: center;
}
/* LOGO + NAVBAR */
.navbar {
  position: fixed !important;
  background: black !important;
  width:100% !important;
  z-index:9997;
}

.navbar-collapse {
  padding-bottom:24px;
  border-bottom:2px solid white;
}

#logo {
  display: none;
}

#logo-container {
  position: fixed;
  background-color: black;
  top:0px;
  z-index:9997;
}

#logo-mobile {
  width:128px;
}

.nav-item {
  margin-left:18px;
  margin-right:18px;
}

.nav-link {
  color: white !important;
  font-family: "Barter";
  font-size: 32px !important;
  text-transform: capitalize !important;
}

.nav-link:hover {
  transition: 0.2s;
  text-shadow: 2px 2px 0px  #da291c, -2px -2px 0px  #da291c, 2px -2px 0px  #da291c, -2px 2px 0px  #da291c;
}

#orderOnlineButton {
  border: 2px solid white;
  padding: 0px 16px;
  text-shadow: 2px 2px 0px  #da291c, -2px -2px 0px  #da291c, 2px -2px 0px  #da291c, -2px 2px 0px  #da291c;
  border-color:#da291c;
  background: #da291c;
  text-align: center;
}

#grubHubButton {
  border: 2px solid white;
  padding: 0px 16px;
  border-color:white;
  background: white;
  text-align: center;
  color:#da291C !important;
  margin-top:20px !important;
}

.navbar-toggler-icon {
  background-image: url("./assets/images/bars-white.png") !important;
}

.nav-social {
  width:48px;
  height:auto;
  max-height:auto;
}

/* BANNER */

#banner {
  display: none;
}

#mobileBanner {
  width:85%;
  height:auto;
  padding-top:69px;
  margin-bottom:40px !important;
}

/* MOBILE OVERRIDES */

#welcomeToSmashville {
  width:80%;
}

#welcomeTxt {
  font-family: "SummerDays";
  font-size: 30px;
}

#menuNeon {
  width:100%;
  max-width: 400px;
  height:auto;
}

#heatIndex {
  font-family: "SummerDays";
  font-size: 36px;
  letter-spacing: 4px;
}

#heatIndexImg {
  display: none;
}
#heatIndexImgMobile {
  display: block;
  max-width:90%;
}


.line {
  max-width:100%;
}


/* MENU ITEMS */

.item-title {
  font-size:28px;
  letter-spacing: 4px;
  font-family: "SummerDays";
}

.price {
  text-shadow: none;
  font-family: "SummerDays";
  font-size: 36px;
  letter-spacing: 4px;
  color:white;
}

.item-description {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Barter";
  color:white;
  line-height: 24px;

}

.food-item-container {
  width:100%;
}

#locationContainer {
  position: relative;
}

#pin {
  height:24px;
  width:auto;
  margin-right:8px;
}

#clipboardContainer {
  padding: 24px 48px !important;

}

#locationAddress {
  border: 1px solid #222;
  border-radius:8px;
  background-color: #222;
  box-sizing: border-box;
  font-family: "Barter";
  color:white;
  font-size:24px;
  padding:24px 26px;
  text-align: center;
}

#tapMap {
  text-align: center;
  font-size:24px;
  font-family: "Barter";
  padding:16px;
  background-color: #00A8FF;
  border-radius: 0 0 8px 8px
}

#tapMap:hover {
  background-color: #004998;
  cursor: pointer;
  transition: 0.2s;
}

#hoursTxt {
  font-family: "Barter";
  font-size: 24px;
  padding:0px;
}

/* FAQ */

.faqItem {
  border-bottom:1px solid white;
}
.question {
  font-size: 22px;
  font-family: "Barter";
  display: flex;
  margin-bottom:10px;
}

.question:hover {
  cursor: pointer;
}

.answer {
  font-size: 18px;
  font-family: "Barter";
  padding-left:40px;
  padding-bottom:8px;
}

.togglePlus {
  width: 24px;
  height:24px;
  margin-right:16px;
}

.faqRow {
  width:100%;
}

.socialsContainer {
  margin-top:16px !important;
  margin-bottom:100px;
}


.socials {
  max-height: 48px !important;
  width: auto !important;
  margin: 10px;
}


/* SWIPER */
.swiper-pagination {
  display: none;
}
.swiper {
  width: 95%;
  min-height: 375px;
}

.sliderImage {
  width:60%;
  height:auto;
}

.swiper-slide {
  text-align: center;
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-button-next, .swiper-button-prev {
  color:white !important;
}

#menuAnchor {
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #logo {
    display: block;
    width:304px;
  }

  #logo-mobile {
    display: none !important;
  }
  .navbar {
    position: fixed !important;
    background: black !important;
    width:100% !important;
    top:137.91px;
    z-index:9997;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      justify-content: center;
  }
  .navbar-collapse {
    padding-bottom:24px;
    border-bottom:0px;
  }

  body {
    padding-top:242px;
  }

  #banner {
    display: block;
    width:100%;
  }

  #mobileBanner {
    display: none;
  }

  #fixedOrderNowButton {
    display:none;
  }

  #orderOnlineButton {
    border: 2px solid #da291c;
    padding: 0px 16px;
    text-shadow: none;
    border-color:none;
    background: #da291c;
    color:white;
  }

  #orderOnlineButton:hover {
    transition: 0.2s;
    border-color:#8f1b12;
    background: #8f1b12;
  }

  #grubHubButton {
    border: 2px solid white;
    padding: 0px 16px;
    text-shadow: none;
    border-color:1px solid #da291c;
    background: white;
    color:#da291c !important;
    margin-top:0px !important;
  }

  #grubHubButton:hover {
    transition: 0.2s;
    text-shadow: 2px 2px 0px  #da291c, -2px -2px 0px  #da291c, 2px -2px 0px  #da291c, -2px 2px 0px  #da291c;
    background: #da291c;
    color:white !important;
  }

  #welcomeBanner {
    min-height:500px;
    background-image: url("./assets/images/welcomeBackgroundGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #menuNeon {
    width:100%;
    max-width: 900px;
    height:auto;
  }

  #welcomeTxt {
    font-family: "SummerDays";
    font-size: 40px;
    letter-spacing: 10%;
  }
  #welcomeToSmashville {
    width:auto;
  }

  #menuBanner {
    height:100%;
    background-image: url("./assets/images/menuBackgroundGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #hoursBanner {
    height:100%;
    background-image: url("./assets/images/hoursGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #locationBanner {
    height:100%;
    background-image: url("./assets/images/locationGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #faqBanner {
    height:100%;
    background-image: url("./assets/images/faqGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #faqItemBanner {
    height:100%;
    background-image: url("./assets/images/faqItemsBackground.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #heatIndex {
    font-family: "SummerDays";
    font-size: 72px;
    letter-spacing: 8px;
  }

  .menuTxt {
    font-family: "SummerDays";
    font-size:32px;
    text-align: center;
    letter-spacing: 10%;
  }
  .title {
    font-family: "SummerDays";
    font-size: 72px;
    letter-spacing: 8px;
  }

  #heatIndexImg {
    width:70%;
    height:auto;
    display: block;
  }

  #heatIndexImgMobile {
    display: none;
  }
  .item-title {
    font-size:48px;
    letter-spacing: 8px;
    font-family: "SummerDays";
  }

  .price {
    text-shadow: 2px 2px 0px  white, -2px -2px 0px  white, 2px -2px 0px  white, -2px 2px 0px  white;
    font-family: "SummerDays";
    font-size: 48px;
    letter-spacing: 8px;
    color:black;
  }

  .item-description {
    font-size: 32px;
    text-transform: uppercase;
    font-family: "Barter";
    color:white;
    line-height: 32px;

  }

  .line {
    width:75%;
  }

  .food-item-container {
    width:75%;
  }

  #itemsBackgroundGraffiti {
    background-image: url("./assets/images/itemsBackgroundGraffiti.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
  }

  .swiper {
    width: 45%;
    min-height: 600px;
    background-image: url("./assets/images/swiperBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
  }

  .sliderImage {
    width:auto;
    height:500px;
  }

  #hoursTxt {
    font-family: "Barter";
    font-size: 48px;
    letter-spacing: 4px;
    line-height:52px;
  }


  #clipboardContainer {
    font-family: "Barter";
    color:white;
    font-size:48px;
  }

  .question {
    font-size: 36px;
    font-family: "Barter";
  }

  .answer {
    font-size: 24px;
  }


  .togglePlus {
    width: 40px;
    height:40px;
  }

  .faqRow {
    width:75%;
  }

  .socials {
    width:80px !important;
    height:auto;
    min-height:80px;
    margin:20px;
    box-sizing: border-box;
  }

  .socials:hover {
    cursor: pointer;
    border-bottom:4px solid #da291c;
    box-sizing: border-box;
  }

  .socialsContainer {
    margin-top:24px !important;
    margin-bottom: 100px;
  }

  #pin {
    height: 48px;
    width: auto;
    margin-right:16px;
  }

  .mobileSocials {
    display:none;
  }

  .mapSlideUpContainer  {
    width: 35%;
    left: 32.5%;
  }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }
